/*--------------------------------
 ## 全体設定 ###########################################################################
---------------------------------*/
body {
    font-family: "Montserrat","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
    font-size: 15px;
    letter-spacing: .05em;
    color: #333;
  }
  
  a {
    transition: opacity .3s;
    text-decoration: none;
    color: #1ca9e3;
  }
  
  img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    border-style: none;
  }
  
  
  
  .pc-only {
    display: block;
  }
  
  .sp-only {
    display: none;
  }
  
  .wrapper {
    padding-top: 73px; /* ヘッダとメインビジュアルの間 */
  }
  
  .container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 80px; /* 全体の横幅 */
  }
  
  /*--------------------------------
   ## メインビジュアル ##########################################################################
  ---------------------------------*/
  .mv {
    position: relative;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
  }

.mv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/rustic-3441673_1920.jpg) center center;
    background-size: cover;
    opacity: 0.6;
    z-index: -1;
  }
  .mv-container {
    padding: 0 40px; /* タイトル横幅 */
  }
  
  .mv-title {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.2;   /* 上下位置 */
    margin-bottom: 5px; /* タイトル下幅 */
    letter-spacing: .15em; /* 文字間 */
  }
  .mv-subtitle {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 40px;
    letter-spacing: .08em;
  }
  
  .mv-text {
    font-size: 16px;
    line-height: 1.8;
  }
  
  
  /*--------------------------------
  ## ヘッダー ###########################################################################
  ---------------------------------*/
  .header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 10px -6px rgba(0,0,0,.1);
  }
  
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px; /* 縦横幅 */
  }
  
  /* ロゴ */
  .header-logo {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2; /* 上下幅 */
    margin-right: 20px;
    letter-spacing: .05em; /* 文字間 */
  }
  
  .header-logo a {
    color: #333;
  }
  
  /* リスト */
  .gnav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  
  .gnav-item:not(:last-child) {
    margin-right: 20px; /* 項目間 */
  }
  
  .gnav-item a {
    position: relative;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 0;
    transition: .5s;
    letter-spacing: .05em; /* 文字間 */
    color: #333;
  }
  .gnav-item a:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0px;
    content: "";
    transition: .3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #333;
  }
  
  .gnav-item a:hover:after {
    width: 100%;
  }
  
  
  /*--------------------------------
   ## セクション設定 ###########################################################################
  ---------------------------------*/
  .section {
    padding: 90px 0; /* 各セクション幅 */
  }
  
  .section:nth-of-type(odd) {
    background-color: #f7f7f7;
  }
  
  .title {
    font-size: 34px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: .05em;
    color: #333;
  }
  
  /*--------------------------------
   Works
  ---------------------------------*/
  .works-list {
    display: flex;
    /* margin-bottom: -40px; */
    justify-content: center;
    gap: 0px;
  }
  
  .works-item {
    width: 31.74603%;
    margin: 0 0.5% 400px;
    /* margin-right: 1.58730%; */
    margin-bottom: 40px;
    color: #333;
    transition: transform 0.3s ease;
  }
  
  .works-item:hover {
    transform: translateY(-5px);
    /* opacity: .9; */
  }
  
  .works-item:nth-of-type(3n) {
    margin-right: 0;
  }
  
  .works-img img {
    border: 1px solid #e6e6e6;
  }
  
  .works-name {
    font-size: 12px;
    font-weight: bold;
    margin-top: 8px;
  }
  
  .works-info {
    font-size: 10px;
    margin-top: 5px;
  }
  
  /*--------------------------------
   Skill
  ---------------------------------*/
  .skill-subtitle {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .skill-subtitle span {
    display: inline-block;
    padding: 5px 20px;
    background-color: #f0f0f0;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .skill-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
  }
  
  .skill-item {
    background-color: #fff;
    border-radius: 6px;
    height: 400px; /* 任意の固定値 */
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  
    display: flex;
    flex-direction: column;
    height: 100%; /* 高さを100%に設定 */
  }
  
  .skill-item:hover {
    transform: translateY(-5px);
  }
  
  .skill-img {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/skill/program.jpg) center center;
    background-size: cover;
    position: relative;
  
  
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .skill-img-content {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 90%;  /* 追加: 幅を100%に設定 */
    justify-content: flex-start;  /* 追加: 左揃えに設定 */
  }
  
  .skill-icon {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  
  .skill-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .skill-img span {
    font-size: 2rem;
    position: relative;
    z-index: 1;
  }
  
  
  .skill-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
  
    flex-grow: 1; /* 残りの空間を埋める */
  }
  
  /* .skill-name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #2d3436;
  } */
  
  .skill-text {
    font-size: 1rem;
    color: #2d3436;
  
    flex-grow: 1; /* テキストエリアを拡張して空間を埋める */
  }
  
  .skill-rating {
    display: flex;
    justify-content: flex-end;
    
    margin-top: auto; /* 星を下部に固定 */
  }
  
  .star {
    color: #a29bfe;
    font-size: 1.2rem;
  }
  
  
  
  /*--------------------------------
   About
  ---------------------------------*/
  .profile {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
  }
  .profile-img {
    width: 20%;
    margin-right: 30px;
    border-radius: 50%;
  }
  .profile-img img {
    border-radius: 50%;
  }
  .profile-body {
    flex: 1;
  }
  
  .profile-body p {
    font-size: 15px;
    line-height: 1.8;
  }
  
  .profile-body p:not(:last-child) {
    margin-bottom: 30px;
  }
  
  /* ## 資格 ######################################################################## */
  .cert_container {
    max-width: 700px;
    margin: 0 auto;
  }
  
  .cert_title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 40px;
    text-align: left;
    letter-spacing: .05em;
    color: #333;
  }
  
  .cert_subtitle {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0px;
    margin-top: 40px;
    text-align: left;
    letter-spacing: .05em;
    color: #777;
  }
  
  .qualification-list { /* 一覧 */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
  }
  
  .qualification-item {
    display: flex;
    align-items: center;
    padding: 15px; /* 縦幅 */
    border-bottom: 1px solid #eee;
  }
  
  .qualification-item:last-child {
    border-bottom: none;
  }
  
  .qualification-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;

    /* font-size: 2em;
    color: #007bff;
    width: 60px;
    text-align: center; */
  }
  
  .qualification-info {
    flex-grow: 1;
    margin-left: 15px;
  }
  
  .qualification-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .qualification-date {
    font-size: 0.8em;
    color: #666;
  }
  
  .additional-qualifications {
    margin-top: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    font-size: 0.9em;
    color: #555;
  }
  
  .additional-qualification-item {
    margin-bottom: 10px;
  }
  
  .additional-qualification-item:last-child {
    margin-bottom: 0;
  } 
  
  /*--------------------------------
   Contact
  ---------------------------------*/
  .contact {
    text-align: center;
  }
  
  .contact-item:not(:last-child) {
    margin-right: 10px;
  }
  
  .contact-text {
    margin-top: 10px;
  }
  
  .lead {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 30px;
  }
  
  /*--------------------------------
   ページトップ
  ---------------------------------*/
  .page-top {
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    background-color: #4c4c4c;
  }
  
  .page-top .material-icons-outlined {
    vertical-align: bottom;
    color: #fff;
  }
  
  /*--------------------------------
   フッター
  ---------------------------------*/
  .footer {
    padding: 30px;
    background-color: #333;
  }
  
  .copyright {
    font-size: 10px;
    text-align: center;
    color: #797979;
  }
  
  /*--------------------------------
   下層：Worksページ
  ---------------------------------*/
  .article {
    padding: 80px 0;
  }
  
  .article-container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .article-title {
    margin-bottom: 30px;
    text-align: center;
  }
  
  .article-body {
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  
  .article-body h3 {
    position: relative;
    font-size: 18px;
    margin-bottom: 5px;
    padding-left: 1em;
  }
  
  .article-body h3:not(:first-child) {
    margin-top: 50px;
  }
  
  .article-body h3::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    content: "";
    border-radius: 3px;
    background-color: #333;
  }
  
  .article-body p {
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 30px;
  }
  
  .home-link {
    text-align: center;
  }
  
  /*media Queries 767
  ----------------------------------------------------*/
  @media screen and (max-width: 767px) {
    body {
      font-size: 14px;
    }
  
    .pc-only {
      display: none;
    }
  
    .sp-only {
      display: block;
    }
  
    /* 見出し */
    .title {
      font-size: 26px;
      margin-bottom: 20px;
    }
  
    .lead {
      font-size: 14px;
      line-height: 1.7;
      margin-bottom: 20px;
    }
  
    /* レイアウト */
    .wrapper {
      padding-top: 57px;
    }
  
    .section {
      padding: 60px 0;
    }
  
    .container {
      padding: 0 20px;
    }
  
    /* ヘッダー */
    .header .container {
      padding: 15px;
    }
  
    .header-logo {
      font-size: 15px;
      margin-right: 15px;
    }
  
    .gnav-item:not(:last-child) {
      margin-right: 10px;
    }
  
    .gnav-item a {
      font-size: 10px;
    }
  
    .gnav-item a:after {
      display: none;
    }
  
    /*  メインビジュアル */
    .mv {
      height: 75vh;
    }
  
    .mv-container {
      padding: 0 20px;
    }
  
    .mv-title {
      font-size: 30px;
    }
    .mv-subtitle {
      font-size: 16px;
      margin-bottom: 20px;
    }
  
    .mv-text {
      font-size: 14px;
      line-height: 1.7;
    }
  
    /* Works */
    .works-name {
      font-size: 12px;
    }
  
    .works-info {
      margin-top: 3px;
    }
  
    .works-list {
      justify-content: space-between;
    }
  
    .works-item {
      flex: 0 0 48%;
      margin-right: 0;
      margin-bottom: 30px;
    }
  
    /* Skill */
    .skill-list {
      display: block;
      margin-bottom: 0;
    }
  
    .skill-item {
      width: 100%;
      margin-bottom: 35px;
    }
  
    .skill-item:last-child {
      margin-bottom: 0;
    }
  
    .skill-name {
      margin-bottom: 5px;
    }
  
    .skill-text {
      font-size: 13px;
      line-height: 1.7;
    }
  
    /* About */
    .profile {
      display: block;
    }
    .profile-img {
      width: 150px;
      margin: 0 auto;
      margin-bottom: 25px;
    }
  
    .profile-body p {
      font-size: 14px;
      line-height: 1.7;
    }
  
    .profile-body p:not(:last-child) {
      margin-bottom: 20px;
    }
  
    /* フッター */
    .footer {
      padding: 20px;
    }
  
    /* 下層ページ */
    .article {
      padding: 50px 0;
    }
  
    .article-body h3 {
      font-size: 16px;
      padding-left: .8em;
    }
  
    .article-body h3:not(:first-child) {
      margin-top: 30px;
    }
  
    .article-body p {
      font-size: 14px;
      line-height: 1.7;
      margin-bottom: 20px;
    }
  }
  